.DS_Store
/target
/node_modules
yarn.lock
.aider*
crates/fhir_gen/resources/R6/*
!crates/fhir_gen/resources/R6/view-definition-to-be-inserted.json
crates/fhir/tests/data/R6
.idea
package-lock.json
**/.claude/settings.local.json
